<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keeptrip.keeptrip">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- TODO: Check if need ACCESS_FINE_LOCATION instead -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/KeepTripAppTheme">
        <activity android:name=".trip.activity.TripMainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".landmark.activity.LandmarkMainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".trip.activity.TripCreateActivity"
            android:windowSoftInputMode="adjustPan"/>

        <provider
            android:name=".contentProvider.KeepTripContentProvider"
            android:authorities="com.keeptrip.keeptrip"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.keeptrip.keeptrip.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".landmark.activity.LandmarkAddFromGallery">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEND" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<data android:mimeType="image/*" />-->
            <!--</intent-filter>-->

        </activity>
    </application>

</manifest>